html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #01091c;
    font-family: Arial, sans-serif;
}

/* contenedor general */
.contenedor {
    height: 100vh;
}

/* caja del video */
.video-contenedor {
    position: relative; /* REFERENCIA */
    width: 100%;
    height: 100vh;
}

/* video ocupa todo */
#camara {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* imagen encima */
.overlay {
    position: absolute; /* SE SUPERPONE */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* no bloquea clics */
}
