body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #310202;
    font-family:'Courier New', Courier, monospace;
    overflow-y: auto; /* Permitir desplazamiento si hay mucho contenido */

}


h1{
    color: white;
    text-align: center;
    font-size: 2.5em;
    padding: 0.2em;
    text-shadow: 0em 0em 0.5em #000000;
}

.background{
    object-fit: cover;
    width: 100%;
    height: 65em;
   
}


/* contenedor general */
.various-containers-displays {
    display: flex;
    position: absolute; /* SE SUPERPONE */
    top: 0;
    left: 0;
    width: 70vw;
    height: 10vh;
    pointer-events: none; /* no bloquea clics */
    /* position: relative;
    width: 100%;
    object-fit: cover
    height: 100vh; */
}

/* caja del video */
.video-contenedor {
    position: relative; /* REFERENCIA */
    width: 38em;
    height: 25em;
    top: 15em;
    left: 7em;
}

/* video ocupa todo */
#camara {
    position: relatives;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* imagen encima */
.overlay {
    position: absolute; /* SE SUPERPONE */
    top: 0em;
    left: 0em;
    width: 38em;
    height: 25em;
    pointer-events: none; 
}

.marco{
    position: absolute;
    top: -7em;
    left: -5em;
    width: 50em;
    pointer-events: none;
}

/* .marco{
    position: absolute;
    top: -7em;
    left: -8em;
    width: 85em;
    pointer-events: none;
} */
